body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

a {
    display: block;
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-size:  50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}

img, video {
    margin: 10px;
}
footer p {
    text-align: right;
}